{% extends "index.html" %} {% block content %}
<nav>
    <li><a href="/">Home</a> </li>
    <li> <a href="/my_projects">Projects</a></li>
    <div class="animation start-home"></div>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
  </nav>
<h1>Message Encryptor</h1>
<body>
    <input type="text" id="user" placeholder="Type message here...">
    <input type="button" id="butn1" value="Encrypt">

    <p class="output" id="output1"></p>

    <script>
        const txt1 = document.getElementById('user');
        const btn1 = document.getElementById('btn1');
        const out1 = document.getElementById('output1');

        function encrypt() {
            out1.innerHTML = txt1.value;
        }
        
        btn1.addEventListener('click', encrypt);

    </script>
</body>
{% endblock %}
